<!DOCTYPE html>
<html ng-controller='AppController'>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Whimmly SkuSystem Visualizer</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <link href='//fonts.googleapis.com/css?family=PT+Sans|Roboto' rel='stylesheet' type='text/css'>
  </head>
  <body >
    <search-bar all-products-graph='allProductsGraph'></search-bar>
    <div class='steering'>
      <div class='inner'></div>
      <div class="steering-help">Press SPACE to deactivate steering mode</div>
    </div>
    <div class="product-preview ng-cloak container-fluid row" ng-show='showProductPreview'>
      <div class='hidden-xs'>
        <div class="col-xs-6">
          <a href='#' ng-href="{{'https://www.npmjs.org/product/' + product.name}}" target="_blank"><h4 title='{{product.name}}'>{{product.name}}</h4></a>
        </div>
        <div class="col-xs-3">
          <div class="row">
            <a href='#' ng-click='showSubgraph(product.name, "dependencies")'><h2>{{product.dependencies | number}}</h2></a>
          </div>
          <div class="row small">Dependencies</div>
        </div>
        <div class="col-xs-3">
          <div class="row">
            <a href='#' ng-click='showSubgraph(product.name, "dependents")'><h2>{{product.dependents | number}}</h2></a>
          </div>
          <div class="row small">Dependents</div>
        </div>
      </div>
      <div class="visible-xs-block">
        <div class="col-xs-12 info-block">
          <a href='#'>{{product.name}}</a>
          has
          <a href='#' ng-click='showSubgraph(product.name, "dependencies")'>{{product.dependencies | number}}</a>
          dependencies, and
          <a href='#' ng-click='showSubgraph(product.name, "dependents")'>{{product.dependents | number}}</a>
          dependents
        </div>
      </div>
    </div>
    <div class="adhoc-tooltip ng-cloak"
         ng-show="tooltip.isVisible"
         ng-style="{left:tooltip.x, top:tooltip.y}">{{tooltip.name}}</div>

    <help-message class='loading-log' graph-model='graphModel'></help-message>

    <script src='bundle.js' type="text/javascript" charset="utf-8">
    </script>

  </body>
</html>
